@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;900&display=swap');
body{
  margin:0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}
main{
  display: flex;

}

/* content */
.content{
  background-image: url("images/bg-pattern-desktop.svg");
  width: 60%;
}
header{
  padding-left: 150px;
  padding-top:50px;
}
h1{
  padding-left:150px;
  padding-top: 80px;
  text-transform: uppercase;
  font-size: 3rem;
  color: hsl(0, 36%, 70%);
  font-weight: lighter;
  letter-spacing: 10px;
}

span{
  display: block;
  font-weight: normal;
  color: hsl(0, 6%, 24%);
}

p{
  padding-left: 150px;
  padding-right: 170px;
  padding-bottom: 30px;
  color: hsl(0, 36%, 70%);
}

/* form */
form{
  padding-left: 150px;
  display: inline-flex;
}
input{
  line-height: 48px;
  border-radius:40px;
  border:1px solid hsl(0, 36%, 70%);
  padding-left:20px;
  color: hsl(0, 36%, 70%);
  width: 360px;
}
button{
position:absolute;
height:50px;
width:120px;
right:58%;
  border:0;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border-radius:40px;
  box-shadow: 0 10px 25px hsl(0, 36%, 70%);

}
